/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 2, 2016, 8:20:02 PM
    Author     : vini
*/
body{
    width: 100%;
}

#adminWrapper{
    width: 60%;
    margin: auto;
 
}

.adminItem{
    border: 2px solid darkslategrey;
    border-radius: 4px;
    width: 100%;
    clear: both;
}

h2{
    text-align: center;
}

h4{
    text-align: center;
}