/*
This css is used to change the FooGames menu
*/
/* 
    Created on : Mar 28, 2016, 7:19:32 PM
    Author     : vini
*/

 .dropdown:hover .dropdown-menu {
display: block;
 }
 
  #search{
      width: 50%;
  }
  #searchInput{
      width: 90%;
  }
  
  .dropdown:hover .dropdown-menu {
display: block;
}

#navbarContainer{
    
}

#bigNavbarContainer{
    width: 70%;
}

#navbarFloater{
    float: left;
    clear: both;
}